html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.contentwrapper {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0 3px;
    max-width: 1340px;
}

.right {
    float: right;
}

#header {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 22px 0;
    position: relative;
    background-color: #0a2b42;
} #header h1 {
    color: #fff;
    font-size: 68px;
    font-weight: 300;
    margin: 40px 0;
    padding: 0 0 6px;
}

#topnav {
    margin: 0;
    padding: 18px 12px 22px;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.navbtn {
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 8px 10px;
    text-decoration: none;
} .navbtn:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .18);
}

#header-content {
    display: block;
    box-sizing: border-box;
    padding: 36px 0 152px;
    text-align: center;
}

#logo {
    width: 95%;
    max-width: 140px;
    padding: 24px 6px;
    box-sizing: border-box;
}

#action {
    background-color: #8bc442;
    padding: 14px 64px;
    font-size: 22px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
    display: block;
    margin: 0 auto;
    max-width: 340px;
    transition: box-shadow 170ms ease, color 170ms ease;
} #action:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    color: #000;
}

#emailform {
    display: flex;
    margin: 0 auto;
    padding: 32px 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 340px;
} #emailform input {
    flex-grow: 1;
    padding: 8px 14px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, .6);
} #emailform input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, .6);    
} #emailform a {
    min-width: 120px;
    padding: 8px;
    text-decoration: none;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(255, 255, 255, .6);
    border-left: 0;
} #emailform a:hover {
    background-color: rgba(255, 255, 255, .08);
}

#panels {
    display: block;
    box-sizing: border-box;
    padding: 18px;
    width: 100%;
}
#panelswrapper {
    display: flex;
}
.panel {
    width: 50%;
} .panelinner {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .08);
    box-sizing: border-box;
    text-align: center;
    padding: 38px 28px;
    margin: 28px;
}

h2 {
    font-size: 26px;
    font-weight: 300;
}






#footer {
    box-sizing: border-box;
    background-color: #333;
    color: #eee;
    padding: 48px 0;
} #congratulations {
    font-size: 18px;
} #copyright {
    font-size: 14px;
    color: #999;
}